{{- $pages := slice -}}

<!-- Get persons -->
{{- $persons := slice -}}
{{- range .GetTerms "publications_persons" -}}
  {{- $persons = $persons | append . -}}
{{- end -}}
{{- $pages = $persons -}}

<!-- Order people by status importance if more 1 people -->
{{- if gt $persons 1 -}}
  {{- $realPersons := slice -}}
  {{ range $persons }}
    {{- $realPersons = $realPersons | append (partial "func/GetRealPerson" .) -}}
  {{ end }}
  {{- $pages = slice -}}
  {{- range partial "func/GetPersonsOrderByStatutes" $realPersons -}}
    {{- $taxonomy := "publications_persons" -}}
    <!-- Reset with section to keep context -->
    {{ with .File }}
      {{- $pages = $pages | append (site.GetPage (printf "/%s/%s" $taxonomy .TranslationBaseName)) -}}
    {{ end }}
  {{- end -}}
{{- end -}}

<!-- Display persons -->
{{ range $pages }}
  {{ partial "commons/person" (dict 
    "person" . 
    ) }}
{{ end }}
