{{ if or .Params.address .Params.documents .Params.gallery }}
<ul class="list list-anchors">
{{- with .Params.address }}
  {{- if or .location .coordinates }}
    {{- $location := i18n "realestates.location" | urlize -}}
    <li><a href="#{{ $location }}">{{ i18n "realestates.location" }}</a></li>
  {{- end }}
{{- end }}
{{- with .Params.documents }}
  {{- $len := . | len -}}
  {{- $document := i18n "document" $len | urlize -}}
  {{- if gt $len 0 }}
    <li><a href="#{{ $document }}">{{ i18n "document" $len }}</a></li>
  {{- end }}
{{- end }}
{{- with .Params.gallery }}
  {{- $len := . | len -}}
  {{- $gallery := i18n "gallery" $len | urlize -}}
  {{- if gt $len 0 }}
    <li><a href="#{{ $gallery }}">{{ i18n "gallery.label" $len }}</a></li>
  {{- end }}
{{- end }}
</ul>
{{- end }}