{{- $context := . -}}
{{- $sellers := .Params.realestates_sellers -}}
{{ with .Params.offer }}
  {{ if or .date_sale $sellers }}
    <div class="sale">
      <h2>{{ i18n "realestates.auction" }}</h3>
      <div>
        {{ with .date_sale }}
          <p class="date">{{ . | time.Format ":date_full" }}</p>
          <p>{{ i18n "to" }} {{ partial "commons/time.html" (dict "date" . "format" ":time_short") }}
        {{ end }}
        {{ range $context.GetTerms "realestates_sellers" }}
          <div class="seller">
            <p><strong>{{ partial "func/PrepareHTML" .Title }}</strong></p>
            {{ with .Params.address }}
              {{ partial "commons/address" (dict "address" . "direction" true) }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
