{{ with .Params.offer }}
  {{ with .visits }}
    <div class="visits">
      <h2>{{ i18n "realestates.visit" 2 }}</h3>
      <ul>
      {{ range . }}
        <li>
          {{ with .date_from }}
            <p class="date">{{ . | time.Format ":date_full" }}</p>
            <p>{{ i18n "from" }} {{ partial "commons/time.html" (dict "date" . "format" ":time_short") }}
          {{ end }}
          {{ with .date_to }}
            {{ i18n "to"| lower }} {{ partial "commons/time.html" (dict "date" . "format" ":time_short") }}
          {{ end }}
          </p>
        </li>
      {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
