{{- $section := "persons" }}
{{- $persons := partial "func/GetTaxonomyPageBySlug" (dict
  "section" $section
  "taxonomy" "persons_places"
  "slug" .File.TranslationBaseName) -}}
{{- $persons = partial "func/GetPersonsOrderByStatutes" $persons }}

{{- with $persons }}
  {{- $title := partial "func/PrepareHTML.html" $.Title }}
  {{- partial "commons/related.html" (dict
    "section" $section
    "pages" .
    "title" (i18n "places.discover_persons" (dict "Title" ($title | lower)))
  ) }}
{{- end }}
