.page-realestates

    .sidebar
        .offer
            background-color: $light
            border-radius: $card-border-radius
            padding: $card-spacer-y $card-spacer-x

            @include media-breakpoint-up(lg)
                position: sticky
                top: $offset
                z-index: 1
                @media (prefers-reduced-motion: no-preference)
                    transition: top .3s ease
                html.is-scrolling-down &
                    top: 1rem

            .reference,
            address
                color: $text-muted
                font-size: $small-font-size
            .realestates_categories
                font-size: $small-font-size
            .pricing
                font-size: 1.25rem
                font-weight: $font-weight-bold
                margin-bottom: 0
            .pricing + .pricing
                font-size: $small-font-size
                font-weight: $font-weight-normal
            address
                margin-top: $spacer
                > div
                    padding: 0
                &:not(:last-child)
                    margin-bottom: $spacer
            .list-anchors
                font-size: $small-font-size
                margin-bottom: 0
                a
                    text-decoration: none
                    &:hover
                        text-decoration: underline

                    @if variable-exists(bootstrap-icons-map)
                        &::before
                            @include icon("arrow-right")
                            margin-right: .5em
    
    .contact
        .person 
            position: static

    @include media-breakpoint-down(md)
        .grid > 
            .sidebar
                @include margin-bottom($global-spacing)
                margin-top: 0
                order: 2